{% load static wagtailcore_tags wagtailimages_tags %}
<div class="relative">
    <!-- Timeline dot -->
    <div class="absolute left-1/2 transform -translate-x-1/2 w-4 h-4 bg-brand-primary rounded-full
                hover:scale-150 transition-transform duration-300"></div>

    <!-- Content card -->
    <div class="timeline-card w-full pb-10 sm:px-4 sm:w-1/2 {% if forloop.counter|divisibleby:2 %}sm:ml-auto sm:pl-4 sm:pr-2 is-right{% else %}sm:mr-auto sm:pr-4 sm:pl-2{% endif %}">
        <div class="bg-white/20 rounded-lg shadow-lg
                    transition duration-300 ease-in-out 
                    hover:shadow-xl hover:-translate-y-1 
                    hover:bg-gray-50 sm:p-4">
            <div class="text-sm text-brand-primary font-semibold mb-2">{{ value.date }}</div>
            <h3 class="text-xl font-bold mb-3">{{ value.title }}</h3>
            
            {% if value.image %}
            <div class="mb-4">
                {% image value.image width-400 class="w-full md:w-3/4 lg:w-2/3 h-auto rounded mx-auto" %}
            </div>
            {% endif %}
            
            <div class="prose max-w-none"></div>
                {{ value.description|richtext }}
            </div>
        </div>
    </div>
</div>
