{% load wagtailcore_tags wagtailimages_tags %}
<section id="card-block-1" class="px-[5%] py-8 md:py-10 lg:py-12">
    <div class="container">
      <div
        class="grid grid-cols-1 gap-y-12 md:grid-cols-2 md:items-center md:gap-x-12 lg:gap-x-20"
      >
        <div>
          <h3
            class="rb-5 mb-5 text-4xl font-bold md:mb-6 md:text-5xl lg:text-6xl"
          >
          {{ self.heading }}
          </h3>
          <p class="md:text-md">
            {{ self.sub_heading }}
          </p>
          <p class="md:text-md">
            {{ self.text|richtext }}
          </p>
        </div>
        <div>
          {% if self.image %}
          {% image self.image width-480 %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  