{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
      <section id="Contact" class="px-[5%] py-16 md:py-24 lg:py-16">
        <div
        class="container grid grid-cols-1 gap-y-12 md:grid-flow-row
        md:grid-cols-2 md:gap-x-10 lg:gap-x-12 items-center"
        >
          <div>
           {% image page.image fill-800x800 %}
          </div>
          <div>
            <div class="mb-6 md:mb-8">
              <p class="mb-3 font-semibold md:mb-4">{{ page.title }}</p>
              <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
                {{ page.large_text|richtext }}
              </h2>
              <p class="md:text-md">{{ page.intro|richtext }}</p>
            </div>
            <form class="page-form grid grid-cols-1 gap-6" action="{% pageurl page %}" method="POST">
              <div class="grid w-full items-center">
                {% csrf_token %}
                {{ form.as_div }}
                
                <button
                type="Submit"  
                class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
                  title="Submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      {% if page.contact_info %}
      <section id="contact-info" class="py-16 md:py-10 lg:py-16 px-[5%]" >
        <div class="container ">
            <div class="grid auto-cols-fr grid-cols-1 items-center gap-x-12
            gap-y-12 md:grid-cols-2 md:gap-y-16c mx-1">
                {% for block in page.contact_info %}
                    {{ block }}
                {% endfor %}
            </div>
        </div>
      </section>
      {% endif %}
{% endblock content %}


