{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
    <section id="Contact" class="px-[5%] py-16 md:py-24 lg:py-16">
        <div
        class="container grid grid-cols-1 gap-y-12 md:grid-flow-row
        md:grid-cols-2 md:gap-x-10 lg:gap-x-12 items-center"
        >
          <div>
           {% image page.image fill-800x800 %}
          </div>
          <div>
            <div class="mb-6 md:mb-8">
              <p class="mb-3 font-semibold md:mb-4">{{ page.title }}</p>
              <h2 class="mb-5 text-5xl font-bold md:mb-6 md:text-7xl lg:text-8xl">
                {{ page.large_text|richtext }}
              </h2>
              <p class="md:text-md">{{ page.intro|richtext }}</p>
            </div>
            <form class="page-form grid grid-cols-1 gap-6" action="{% pageurl page %}" method="POST">
              <div class="grid w-full items-center">
                {% csrf_token %}
                {{ form.as_div }}
                
                <button
                type="Submit"  
                class="focus-visible:ring-border-primary inline-flex gap-3 items-center justify-center whitespace-nowrap ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-border-primary bg-background-alternative text-text-alternative px-6 py-3"
                  title="Submit"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section id="relume" class=" py-16 md:py-10 lg:py-16">
        <div class="container">
          <div
            class="grid auto-cols-fr grid-cols-1 items-center gap-x-12 gap-y-12 md:grid-cols-3 md:gap-y-16"
          >
            <div class="flex flex-col items-center justify-start text-center">
              <div class="mb-5 lg:mb-6">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="size-12"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
                  ></path>
                </svg>
              </div>
              <h3
                class="mb-3 text-2xl font-bold leading-[1.4] md:text-3xl lg:mb-4 lg:text-4xl"
              >
                Email
              </h3>
              <p class="mb-5 md:mb-6">
                I look forward to connecting with you regarding potential
                opportunities.
              </p>
              <a class="underline" href="#">hello@april-darcy.com</a>
            </div>
            <div class="flex flex-col items-center justify-start text-center">
              <div class="mb-5 lg:mb-6">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="size-12"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17.707 12.293a.999.999 0 0 0-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 0 0 0-1.414l-4-4a.999.999 0 0 0-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 0 0 0-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 0 0-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 0 0 .912-.271L17 14.414 19.586 17l-2.006 2.005z"
                  ></path>
                </svg>
              </div>
              <h3
                class="mb-3 text-2xl font-bold leading-[1.4] md:text-3xl lg:mb-4 lg:text-4xl"
              >
                Phone
              </h3>
              <p class="mb-5 md:mb-6">
                Feel free to reach out for any inquiries or collaborations.
              </p>
              <a class="underline" href="#">+44 1234 567890</a>
            </div>
            <div class="flex flex-col items-center justify-start text-center">
              <div class="mb-5 lg:mb-6">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  class="size-12"
                  height="1em"
                  width="1em"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z"
                  ></path>
                  <path
                    d="M11.42 21.814a.998.998 0 0 0 1.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.005.021 4.438-4.388 8.423-6 9.73-1.611-1.308-6.021-5.294-6-9.735 0-3.309 2.691-6 6-6z"
                  ></path>
                </svg>
              </div>
              <h3
                class="mb-3 text-2xl font-bold leading-[1.4] md:text-3xl lg:mb-4 lg:text-4xl"
              >
                Office
              </h3>
              <p class="mb-5 md:mb-6">
                My office is open for discussions and networking opportunities.
              </p>
              <a class="underline" href="#">456 Research Ave, Cambridge CB2 1TN UK</a>
            </div>
          </div>
        </div>
      </section>
      
{% endblock content %}


  